DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=cpe38Final
DB_NAME=modtube_db
DB_PORT=5432

BACKEND_PORT=5000

VITE_API_URL=http://localhost:5000/api
DATABASE_URL=postgresql://admin:cpe38Final@localhost:5432/modtube_db